.campo-texto {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.campo-texto label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.campo-texto input {
  width: 100%;
  padding: 1rem;

  border: none;
  box-shadow: 2px 2px 5px 0px #00000034;
  box-sizing: border-box;
}
