.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.campo label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.campo input {
  width: 100%;
  padding: 1rem;

  border: none;
  box-shadow: 2px 2px 5px 0px #00000034;
  box-sizing: border-box;
}

.campo-color input {
  height: 35px;
  padding: 0.3rem !important;
}
